 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
 @import "../../bower_components/foundation/scss/foundation/components/magellan";


// Custom Styles

body{
//  width: 93%;
  margin: 0 auto;
  font-family: 'Lobster', cursive;

}





 #header {
   height: 490px;
//   background-image: url(http://f.cl.ly/items/453u3m3n2j3X2z3P0k3C/TMC%20Header.png);
   background-color: hsla(47,46%,82%,1);
   border-bottom: hsla(359,96%,21%,0.8) 1px solid;
   box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;


   .sub-nav {
     text-align: center;
     margin-right: 5%;

     a {
       color: hsla(359, 96%, 21%, 1);
       text-decoration: none;
       font-weight: 700;
       margin-left: 5%;
       font-size: 2.0em;
     }
     .logohead img {
       width: 11%;
     }
   }


 }




//about div

.aboutsection{
  background-color: #f5f6eb;
  color: hsla(365,100%,22%,1);
  border-bottom: hsla(359,96%,21%,0.8) 1px solid;
  box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;


  .about {
   @include outer-container;
   height: 800px;

   h3 {
     text-align: center;
     font-size: 2.0em;
   }

   p {
     font-size: 1.3em;
     clear: both;
   }

   .a1 {
     @include span-columns(4);
     text-align: center;
//     border: black 1px solid;
     height: 360px;
//     overflow: scroll;
   }

   .a2 {
     @include span-columns(4);
     text-align: center;
//     border: black 1px solid;
     height: 360px;
//     overflow: scroll;

   }

   .a3 {
     @include span-columns(4);
     text-align: center;
//     border: black 1px solid;
     height: 360px;
//     overflow: scroll;

   }

   .boxp {
     font-size: 1em;
     padding: 5px;

   }

  }
 }

 .servicessection {
   background-color: hsla(50,47%,82%,1);
   color: hsla(365,100%,22%,1);
   border-bottom: hsla(359,96%,21%,0.8) 1px solid;
   box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;
   margin-top: 3px;



   .services {
     @include outer-container;
     text-align: center;
     height: 650px;
     clear: both;

     h3 {
       text-align: center;
       font-size: 2.0em;
     }

     .s1 {
       @include span-columns(4);
       text-align: center;
//       border: black 1px solid;
       height: 400px;
//       overflow: scroll;

     }

     .s2 {
       @include span-columns(4);
       text-align: center;
//       border: black 1px solid;
       height: 400px;
//       overflow: scroll;


     }

     .s3 {
       @include span-columns(4);
       text-align: center;
//       border: black 1px solid;
       height: 400px;
//       overflow: scroll;


     }

     .boxs{
       padding: 5px;
     }

   }

 }


// client section
.clientsection {
  background-color: hsla(360,100%,22%,1);
  border-bottom: hsla(359,96%,21%,0.8) 1px solid;
  box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;
  color: #e6ddbc;
  margin-top: 3px;



  .clients {

    @include outer-container;
    text-align: center;
    height: 400px;


    h3 {
      text-align: center;
      font-size: 2.0em;
    }

    ul {
      display: block;
      margin-right: 19px;
    }

    li {
//      @include span-columns(6);
list-style-type: none;

    }

    .testimonials {
//


  .left {
    float: left;
    width: 35%;
    margin-top: -250px;
    border-right: 1px solid;
    padding-right: 10px;
  }
.right {
  float: right;
  width: 35%;
  margin-top: -250px;
  border-left: 1px solid;
  padding-left: 10px;

}
    }


  }
}


.contactsection {
  background-color: hsla(0,0%,32%,1);
  border-bottom: hsla(359,96%,21%,0.8) 1px solid;
  box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;
  color: hsla(47,46%,82%,1);
  margin-top: 3px;

  .contact {
    @include outer-container;
    text-align: center;
    height: 300px;

    h3 {
      text-align: center;
      font-size: 2.0em;
    }

    a {
      color: hsla(47,46%,82%,1);
      text-decoration: none;

    }

    a:hover {
      color:hsla(360,100%,22%,1);
    }

  }

  .contactright {
    float: right;
    width: 60px;
    margin-right: 35%;

    img {
      padding: 8px;
    }

  }

  .contactleft {
    float: left;
    margin-left: 30%;
  }
}







 // Sticky Header Color  and Clone

 [data-magellan-expedition] {
   background-color: hsla(47,46%,82%,1);
//   margin-bottom: 10px;
   height: 90px;
   border-bottom: hsla(359,96%,21%,0.8) 1px solid;
   box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;
   text-decoration: none;
//  display: none;


 }
 [data-magellan-expedition-clone] {
//   display: none;

   border-bottom: hsla(359,96%,21%,0.8) 1px solid;
   box-shadow: hsla(359,96%,21%,0.6) 0 2px 0 2px;
 }


 @media screen and(max-width: 1220px) {

 #header {
   height: 450px;
 }

 }

 @media screen and(max-width: 1130px) {

 #header {
   height: 420px;
 }

 }
 @media screen and(max-width: 1030px) {

 #header {
   height: 390px;
 }

 }

 @media screen and(max-width: 970px) {

 #header {
   height: 370px;
 }

 }
 @media screen and(max-width: 900px) {

 #header {
   height: 350px;
 }

 }

 @media screen and(max-width: 800px) {

 #header {
   height: 340px;

   .sub-nav{
     a{
       font-size: 1.7em;
     }
   }
 }

 }

 @media screen and(max-width: 730px) {

 #header {
   height: 320px;
 }

 }

 @media screen and(max-width: 690px) {

 #header {
   height: 280px;

   .sub-nav{
     a{
       font-size: 1.4em;
     }
   }
 }
 [data-magellan-expedition]{
   height: 70px;
 }
 }

 @media screen and (max-width: 580px){
   .sub-nav{
     display: none;
   }
 }
